.error {
    color: red;
}

.half {
    width: 50%;
    margin: auto;
}



.browse-show-wrap figcaption {
    position: absolute;
    top: 20px;
    right: 0px;
    left: 0px;
    text-align: center;
    opacity: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: opacity 0.3s ease 0s;

}
.browse-show-wrap:hover figcaption{
    opacity: 1;
    transition: all 0.3s ease 0s;
}

.browse-show-wrap img{
    opacity: 1;
    transition: all 0.3s ease 0s;

}


.browse-show-wrap:hover img{
    opacity: 0.2;
    transition: all 0.3s ease 0s;
}

figure.browse-show-wrap{
  position: relative;
  margin-bottom: 0px;
  padding: 0px!important;
}

div.browse-show-wrap {
  margin: 20px;
  width: 210px;
  height:340px;
}


body a:hover {
  color: #0275d8;
  text-decoration: none;
}

figure figcaption .rating {
  margin-bottom: 20px;
}

figure figcaption .btn-info {
  margin-top: 40px;
}
#browse-show-bottom h6 {
    margin-bottom: 0px;
    word-wrap: break-word;
}
